n8n/dirnotif_plugin/feedback.json
{
  "name": "[TEMPLATE] [dirnotif_plugin] Feedback Receiver — Telegram callback (Attended/Deferred/Mute)",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "dirnotif-feedback",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "webhookId": "9cd87918-933e-40e4-8a90-590fa9631bd6"
    },
    {
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst MAX_SKEW_MS = 300000;\nconst SIG_HEADER = \"x-n8n-signature\";\nconst TS_HEADER = \"x-n8n-timestamp\";\nconst STATIC_HEADER = \"x-static-token\";\nconst hmac = (d) => crypto.createHmac('sha256', SECRET).update(d).digest('hex');\nconst safeEq = (aHex, bHex) => {\n  if (!aHex || !bHex) return false;\n  const a = Buffer.from(String(aHex)), b = Buffer.from(String(bHex));\n  return a.length === b.length && crypto.timingSafeEqual(a, b);\n};\n// TE-16: recover the EXACT signed bytes — rawBody when n8n captured it, else a\n// careful re-stringify of the parsed body (must round-trip byte-identical).\nconst rawOf = (j) => (j.rawBody != null) ? j.rawBody.toString() : JSON.stringify(j.body);\n\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const headers = j.headers || {};\n  const raw = rawOf(j);\n  let ok = false;\n  // Fail-closed: an unconfigured secret can never verify (and never throws).\n  if (SECRET) {\n  const sig = headers[SIG_HEADER];\n  const ts = headers[TS_HEADER];\n  if (ts) {\n    // timestamp PRESENT -> studio form: replay-guarded HMAC(`${ts}.${body}`).\n    const n = Number(ts);\n    if (sig && Number.isFinite(n) && Math.abs(Date.now() - n) <= MAX_SKEW_MS) {\n      ok = safeEq(hmac(ts + '.' + raw), sig);\n    }\n  } else {\n    // timestamp ABSENT -> harness verify-n8n form: bare-body HMAC(`${body}`),\n    // only the signature header present.\n    ok = safeEq(hmac(raw), sig);\n  }\n  }\n  // n8n Cloud freezes Code-node input items (IN-25): in-place mutations are\n  // silently dropped — always RETURN new items.\n  const item = { json: Object.assign({}, j, { __authok: ok }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "classify-auth",
      "name": "Classify Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst TG_SECRET = readSecret(\"DIRNOTIF_TG_WEBHOOK_SECRET\");\nconst safeEq = (a, b) => {\n  if (!a || !b) return false;\n  const ab = Buffer.from(String(a)), bb = Buffer.from(String(b));\n  return ab.length === bb.length && crypto.timingSafeEqual(ab, bb);\n};\nconst out = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  const headers = j.headers || {};\n  const body = j.body || {};\n  const hasCb = !!(body && body.callback_query);\n  const tgHeader = headers['x-telegram-bot-api-secret-token'];\n  const tgOk = safeEq(tgHeader, TG_SECRET);\n  let route = 'reject';\n  if (tgOk && hasCb) route = 'telegram';        // a real Telegram button press\n  else if (j.__authok === true && !hasCb) route = 'canary'; // our verify-n8n round-trip\n  const item = { json: Object.assign({}, j, { __route: route }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "route-auth",
      "name": "Route Auth",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-auth-r0",
                    "leftValue": "={{ $json.__route }}",
                    "rightValue": "canary",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "canary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-auth-r1",
                    "leftValue": "={{ $json.__route }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "telegram"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "sign-ack",
      "name": "Sign Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -220
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const requestId = (j.body && j.body.request_id) || j.request_id || null;\n  const body = { ok: true, request_id: requestId };\n  const payload = JSON.stringify(body);\n  // n8n Cloud freezes Code-node input items (IN-25): in-place writes are silently\n  // dropped, so the respond node would read an item WITHOUT __sig and answer\n  // unsigned. Always RETURN a NEW item carrying the signing fields (and binary).\n  // Fail-open to UNSIGNED when the secret is unreachable — empty __sig rather than\n  // throw or sign with an empty key.\n  const item = { json: Object.assign({}, j, {\n    __body: body,\n    __ts: String(Date.now()),\n    __sig: SECRET ? crypto.createHmac('sha256', SECRET).update(payload).digest('hex') : '',\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "respond-canary",
      "name": "Respond Canary",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        -220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.__body }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "x-n8n-signature",
                "value": "={{ $json.__sig }}"
              }
            ]
          }
        }
      }
    },
    {
      "id": "reject-401",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"invalid or missing signature\" } }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "parse-callback",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst ALLOWED = readSecret(\"DIRNOTIF_TELEGRAM_CHAT_ID\");\nconst ACTION_MAP = {\n  att: 'attended', attended: 'attended',\n  def: 'deferred', deferred: 'deferred',\n  mute: 'mute',\n};\nconst out = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  const cq = (j.body && j.body.callback_query) || {};\n  const data = String(cq.data || '');\n  const idx = data.indexOf(':');\n  const rawAction = (idx >= 0 ? data.slice(0, idx) : data).toLowerCase().trim();\n  const leadId = idx >= 0 ? data.slice(idx + 1) : '';\n  const fromId = String((cq.from && cq.from.id != null) ? cq.from.id : '');\n  const item = { json: Object.assign({}, j, {\n    __action: ACTION_MAP[rawAction] || '',\n    __lead_id: leadId,\n    __from_id: fromId,\n    __cbid: String(cq.id || ''),\n    __allowed: !!ALLOWED && fromId === String(ALLOWED),\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "allow-list-gate",
      "name": "Allow-list Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "allow-list-gate-cond",
              "leftValue": "={{ $json.__allowed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-benign",
      "name": "Respond Benign",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "action",
      "name": "Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1320,
        -40
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "action-r0",
                    "leftValue": "={{ $json.__action }}",
                    "rightValue": "attended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "attended"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "action-r1",
                    "leftValue": "={{ $json.__action }}",
                    "rightValue": "deferred",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "deferred"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "action-r2",
                    "leftValue": "={{ $json.__action }}",
                    "rightValue": "mute",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "mute"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "mark-attended",
      "name": "Mark Attended",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        -260
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/dirnotif_qualified?id=eq.{{ encodeURIComponent($json.__lead_id) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: \"attended\", feedback_at: new Date().toISOString() }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "mark-deferred",
      "name": "Mark Deferred",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        -100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/dirnotif_qualified?id=eq.{{ encodeURIComponent($json.__lead_id) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: \"deferred\", feedback_at: new Date().toISOString() }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "get-muted-source",
      "name": "Get Muted Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        80
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/dirnotif_qualified?select=source&id=eq.{{ encodeURIComponent($json.__lead_id) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "extract-source",
      "name": "Extract Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        80
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Parse Callback').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  let rows = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return []; try { return JSON.parse(__s); } catch (__e) { return []; } })(resp.body);\n  if (!Array.isArray(rows)) rows = [rows];\n  const source = (rows[0] && rows[0].source) || '';\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  out.push({ json: Object.assign({}, c, { __mute_source: String(source) }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "mute-source",
      "name": "Mute Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1980,
        80
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/dirnotif_config?config_type=eq.source&value=eq.{{ encodeURIComponent($json.__mute_source) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ enabled: false }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "answer-callback",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2200,
        -40
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $vars.DIRNOTIF_TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Parse Callback').item.json.__cbid, text: \"Recorded \\u2713\", show_alert: false }) }}"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "respond-200",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2420,
        -40
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Classify Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Auth": {
      "main": [
        [
          {
            "node": "Route Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Auth": {
      "main": [
        [
          {
            "node": "Sign Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Ack": {
      "main": [
        [
          {
            "node": "Respond Canary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Allow-list Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow-list Gate": {
      "main": [
        [
          {
            "node": "Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Benign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action": {
      "main": [
        [
          {
            "node": "Mark Attended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Deferred",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Muted Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Muted Source": {
      "main": [
        [
          {
            "node": "Extract Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Source": {
      "main": [
        [
          {
            "node": "Mute Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Attended": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Deferred": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mute Source": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
