components/n8n/workflows/content-tracker.json
{
  "name": "[TEMPLATE] [content_tracker_plugin] Content Tracker — Firecrawl → on-page signals → DataForSEO → notify",
  "nodes": [
    {
      "id": "content-webhook",
      "name": "Content Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "content-tracker",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst MAX_SKEW_MS = 300000;\nconst SIG_HEADER = \"x-n8n-signature\";\nconst TS_HEADER = \"x-n8n-timestamp\";\nconst STATIC_HEADER = \"x-static-token\";\nconst hmac = (d) => crypto.createHmac('sha256', SECRET).update(d).digest('hex');\nconst safeEq = (aHex, bHex) => {\n  if (!aHex || !bHex) return false;\n  const a = Buffer.from(String(aHex)), b = Buffer.from(String(bHex));\n  return a.length === b.length && crypto.timingSafeEqual(a, b);\n};\n// TE-16: recover the EXACT signed bytes — rawBody when n8n captured it, else a\n// careful re-stringify of the parsed body (must round-trip byte-identical).\nconst rawOf = (j) => (j.rawBody != null) ? j.rawBody.toString() : JSON.stringify(j.body);\n\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const headers = j.headers || {};\n  const raw = rawOf(j);\n  let ok = false;\n  // Fail-closed: an unconfigured secret can never verify (and never throws).\n  if (SECRET) {\n  const sig = headers[SIG_HEADER];\n  const ts = headers[TS_HEADER];\n  if (ts) {\n    // timestamp PRESENT -> studio form: replay-guarded HMAC(`${ts}.${body}`).\n    const n = Number(ts);\n    if (sig && Number.isFinite(n) && Math.abs(Date.now() - n) <= MAX_SKEW_MS) {\n      ok = safeEq(hmac(ts + '.' + raw), sig);\n    }\n  } else {\n    // timestamp ABSENT -> harness verify-n8n form: bare-body HMAC(`${body}`),\n    // only the signature header present.\n    ok = safeEq(hmac(raw), sig);\n  }\n  }\n  // n8n Cloud freezes Code-node input items (IN-25): in-place mutations are\n  // silently dropped — always RETURN new items.\n  const item = { json: Object.assign({}, j, { __authok: ok }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "auth-gate",
      "name": "Auth Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-gate-cond",
              "leftValue": "={{ $json.__authok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "reject-401",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"invalid or missing signature\" } }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "sign-ack",
      "name": "Sign Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const requestId = (j.body && j.body.request_id) || j.request_id || null;\n  const body = { ok: true, request_id: requestId };\n  const payload = JSON.stringify(body);\n  // n8n Cloud freezes Code-node input items (IN-25): in-place writes are silently\n  // dropped, so the respond node would read an item WITHOUT __sig and answer\n  // unsigned. Always RETURN a NEW item carrying the signing fields (and binary).\n  // Fail-open to UNSIGNED when the secret is unreachable — empty __sig rather than\n  // throw or sign with an empty key.\n  const item = { json: Object.assign({}, j, {\n    __body: body,\n    __ts: String(Date.now()),\n    __sig: SECRET ? crypto.createHmac('sha256', SECRET).update(payload).digest('hex') : '',\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "ack-202-signed",
      "name": "Ack 202 Signed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        -40
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.__body }}",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              {
                "name": "x-n8n-signature",
                "value": "={{ $json.__sig }}"
              }
            ]
          }
        }
      }
    },
    {
      "id": "read-config",
      "name": "Read Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function safe(fn) { try { const v = fn(); return (v === null || v === undefined || String(v).trim() === '') ? null : String(v).trim(); } catch (e) { return null; } }\nfunction toList(s) { return String(s || '').split(',').map((x) => x.trim()).filter(Boolean); }\nconst items = $input.all();\nconst src = (items[0] && items[0].json) || {};\nconst body = (src.body && typeof src.body === 'object') ? src.body : src;\nconst tenant = safe(() => (($vars.SEO_TENANT || 'operand'))) || 'operand';\n// Target URL(s): $vars slot, optionally overridden by the on-demand webhook body.\nlet urls = toList(safe(() => ($vars.SEO_CONTENT_TARGET_URL)));\nif (body && body.urls) { const b = Array.isArray(body.urls) ? body.urls.join(',') : body.urls; const bl = toList(b); if (bl.length) urls = bl; }\nif ((!urls || !urls.length) && body && body.url) { const one = safe(() => body.url); if (one) urls = [one]; }\n// Target keywords/cluster or seed term(s): $vars slot, optionally overridden by the body.\nlet terms = toList(safe(() => ($vars.SEO_CONTENT_TARGET_KEYWORDS)));\nif (body && body.target_keywords) { const b = Array.isArray(body.target_keywords) ? body.target_keywords.join(',') : body.target_keywords; const bl = toList(b); if (bl.length) terms = bl; }\nconst day = (ms) => new Date(ms).toISOString().slice(0, 10);\nconst runMs = new Date(new Date(Date.now()).setUTCHours(0, 0, 0, 0)).getTime();\nconst hasUrl = urls.length > 0;\nconst hasTerms = terms.length > 0;\nlet factsOk = null; let reason = null;\nif (!hasUrl) { factsOk = false; reason = 'no_url'; }\nelse if (!hasTerms) { factsOk = false; reason = 'no_terms'; }\nreturn [{ json: Object.assign({}, src, {\n  __tenant: tenant,\n  __urls: urls,\n  __target: hasUrl ? urls[0] : null,   // v1 scrapes the FIRST target url\n  __terms: terms,\n  __primary_term: hasTerms ? terms[0] : null,\n  __run_date: day(runMs),\n  __facts_ok: factsOk,\n  __facts_reason: reason,\n}) }];"
      },
      "alwaysOutputData": true
    },
    {
      "id": "spend-read",
      "name": "Spend Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        -40
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/global_send_quotas?select=spend_usd,count&channel=eq.dataforseo&sender_id=eq.dataforseo-daily&window_start=eq.{{ encodeURIComponent(new Date().toISOString().slice(0,10)) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "spend-gate",
      "name": "Spend Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst CAP = Number(readSecret(\"SEO_DATAFORSEO_DAILY_CAP\"));\nconst ctx = $('Read Config').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  let rows = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return []; try { return JSON.parse(__s); } catch (__e) { return []; } })(resp.body);\n  if (!Array.isArray(rows)) rows = rows ? [rows] : [];\n  const row = rows[0] || {};\n  const spent = Number(row.spend_usd != null ? row.spend_usd : (row.count != null ? row.count : 0)) || 0;\n  // No cap configured → do not block (fail-open); a finite cap gates at the boundary.\n  const under = !Number.isFinite(CAP) || CAP <= 0 ? true : spent < CAP;\n  out.push({ json: Object.assign({}, c, { __spend_under_cap: under }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "firecrawl-scrape",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        -40
      ],
      "parameters": {
        "method": "POST",
        "url": "=($vars.FIRECRAWL_HOST || 'https://api.firecrawl.dev')/v1/scrape",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 60000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.__target, formats: ['markdown'], onlyMainContent: true }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:firecrawl",
          "name": "[OPERAND] Firecrawl Bearer"
        }
      }
    },
    {
      "id": "extract-signals",
      "name": "Extract Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function words(s) { return String(s || '').toLowerCase().match(/[a-z0-9']+/g) || []; }\nfunction count(hay, needle) { const n = String(needle || '').toLowerCase().trim(); if (!n) return 0; let c = 0, i = 0; const h = String(hay || '').toLowerCase(); while ((i = h.indexOf(n, i)) !== -1) { c++; i += n.length; } return c; }\nconst ctx = $('Read Config').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  // A prior honest skip (no url / no terms) short-circuits — never a fabricated scrape result.\n  if (c.__facts_ok === false) { out.push({ json: Object.assign({}, c, { __scrape_ok: false, __signals: null }) }); continue; }\n  const status = Number(resp.statusCode || 0);\n  const parsed = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return null; try { return JSON.parse(__s); } catch (__e) { return null; } })(resp.body);\n  let scrapeOk = false;\n  let reason = null;\n  let signals = null;\n  if (status === 401 || status === 403) { reason = 'firecrawl_unauthorized'; }\n  else if (status === 402) { reason = 'firecrawl_payment_required'; }\n  else if (status === 429) { reason = 'firecrawl_rate_limited'; }\n  else if (status < 200 || status >= 300) { reason = 'firecrawl_error_' + (status || 'unknown'); }\n  else if (!parsed || typeof parsed !== 'object') { reason = 'firecrawl_unparseable'; }\n  else if (parsed.success === false) { reason = 'firecrawl_' + (parsed.error ? String(parsed.error).slice(0, 40).replace(/[^a-z0-9]+/gi, '_').toLowerCase() : 'failed'); }\n  else {\n    const data = (parsed.data && typeof parsed.data === 'object') ? parsed.data : parsed;\n    const md = String(data.markdown || data.content || '');\n    const meta = (data.metadata && typeof data.metadata === 'object') ? data.metadata : {};\n    if (!md.trim() && !meta.title) { reason = 'firecrawl_empty'; }\n    else {\n      const title = meta.title != null ? String(meta.title) : null;\n      const metaDesc = (meta.description != null) ? String(meta.description) : (meta.ogDescription != null ? String(meta.ogDescription) : null);\n      // Heading outline from markdown ATX headings.\n      const h1 = []; const h2 = [];\n      for (const line of md.split(/\\r?\\n/)) {\n        const m1 = line.match(/^#\\s+(.*)$/); if (m1) { h1.push(m1[1].trim().slice(0, 200)); continue; }\n        const m2 = line.match(/^##\\s+(.*)$/); if (m2) { h2.push(m2[1].trim().slice(0, 200)); }\n      }\n      const bodyWords = words(md);\n      const wordCount = bodyWords.length;\n      const terms = Array.isArray(c.__terms) ? c.__terms : [];\n      const kwStats = terms.map((kw) => {\n        const occ = count(md, kw);\n        const density = wordCount > 0 ? Math.round((occ / wordCount) * 10000) / 100 : 0; // percent, 2dp\n        const inTitle = title ? count(title, kw) > 0 : false;\n        const inMeta = metaDesc ? count(metaDesc, kw) > 0 : false;\n        const inH1 = h1.some((h) => count(h, kw) > 0);\n        return { keyword: kw, occurrences: occ, density_pct: density, in_title: inTitle, in_meta: inMeta, in_h1: inH1 };\n      });\n      signals = {\n        title: title,\n        title_len: title ? title.length : 0,\n        meta_description: metaDesc,\n        meta_len: metaDesc ? metaDesc.length : 0,\n        h1: h1.slice(0, 5),\n        h1_count: h1.length,\n        h2: h2.slice(0, 12),\n        word_count: wordCount,\n        keyword_stats: kwStats,\n      };\n      scrapeOk = true;\n    }\n  }\n  out.push({ json: Object.assign({}, c, {\n    __scrape_ok: scrapeOk,\n    __scrape_reason: reason,\n    __signals: signals,\n  }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "terms",
      "name": "Terms?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        -40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "terms-cond",
              "leftValue": "={{ $json.__spend_under_cap === true && ($json.__terms || []).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "skip-terms",
      "name": "Skip Terms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        160
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => {\n  const j = it.json || {};\n  return { json: Object.assign({}, j, { __term_metrics: {} }) };\n});"
      }
    },
    {
      "id": "term-metrics",
      "name": "Term Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2420,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "=($vars.DATAFORSEO_HOST || 'https://api.dataforseo.com')/v3/dataforseo_labs/google/bulk_keyword_difficulty/live",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 60000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{ keywords: ($json.__terms || []).slice(0, 1000), location_name: 'United States', language_name: 'English' }]) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpBasicAuth": {
          "id": "cred-ref:dataforseo",
          "name": "[OPERAND] DataForSEO Basic"
        }
      }
    },
    {
      "id": "merge-metrics",
      "name": "Merge Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Extract Signals').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  const byKw = {};\n  const parsed = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return null; try { return JSON.parse(__s); } catch (__e) { return null; } })(resp.body);\n  if (parsed && Array.isArray(parsed.tasks)) {\n    const task = parsed.tasks[0] || {};\n    const result = Array.isArray(task.result) ? task.result[0] : null;\n    const list = result && Array.isArray(result.items) ? result.items : [];\n    for (const it of list) {\n      if (!it || typeof it !== 'object' || it.keyword == null) continue;\n      const kd = Number(it.keyword_difficulty);\n      const info = it.keyword_info || {};\n      const vol = Number.isFinite(Number(info.search_volume)) ? Number(info.search_volume) : null;\n      byKw[String(it.keyword).toLowerCase()] = { keyword_difficulty: Number.isFinite(kd) ? kd : null, search_volume: vol };\n    }\n  }\n  out.push({ json: Object.assign({}, c, { __term_metrics: byKw }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "assess-content",
      "name": "Assess Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function hash(s) { let h = 5381; for (let i = 0; i < s.length; i++) { h = ((h << 5) + h + s.charCodeAt(i)) >>> 0; } return h; }\nfunction fid(cls, key) { return 'CONTENT-' + cls + '-' + String(hash(cls + '|' + (key || '')) % 1000).padStart(3, '0'); }\nconst THIN = 300;\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json || {};\n  const url = j.__target || null;\n  const s = (j.__signals && typeof j.__signals === 'object') ? j.__signals : null;\n  const metrics = (j.__term_metrics && typeof j.__term_metrics === 'object') ? j.__term_metrics : {};\n  const primary = j.__primary_term || null;\n  const findings = [];\n  if (s) {\n    const primaryStat = primary ? (s.keyword_stats || []).find((k) => k.keyword === primary) : null;\n    const metric = primary ? (metrics[String(primary).toLowerCase()] || {}) : {};\n    // COVERAGE — the primary target term never appears in the body copy.\n    if (primaryStat && primaryStat.occurrences === 0) {\n      findings.push({ issue_class: 'coverage', severity: 'high', target_keyword: primary,\n        detail: 'Primary target term \"' + primary + '\" does not appear in the page copy',\n        evidence: { keyword: primary, occurrences: 0, word_count: s.word_count, search_volume: metric.search_volume != null ? metric.search_volume : null, keyword_difficulty: metric.keyword_difficulty != null ? metric.keyword_difficulty : null } });\n    }\n    // TITLE — the primary term is missing from the <title>, or the title is missing/oversized.\n    if (!s.title) {\n      findings.push({ issue_class: 'title', severity: 'high', target_keyword: primary,\n        detail: 'Page has no <title> tag', evidence: { title: null } });\n    } else {\n      if (primaryStat && !primaryStat.in_title) {\n        findings.push({ issue_class: 'title', severity: 'medium', target_keyword: primary,\n          detail: 'Primary target term \"' + primary + '\" is missing from the <title>',\n          evidence: { title: String(s.title).slice(0, 200), keyword: primary } });\n      }\n      if (s.title_len > 60) {\n        findings.push({ issue_class: 'title', severity: 'low', target_keyword: primary,\n          detail: 'Title is ' + s.title_len + ' chars (may truncate in SERPs, aim ≤60)', evidence: { title_len: s.title_len } });\n      }\n    }\n    // META — missing meta description, primary term absent from it, or length out of range.\n    if (!s.meta_description) {\n      findings.push({ issue_class: 'meta', severity: 'medium', target_keyword: primary,\n        detail: 'Page has no meta description', evidence: { meta_description: null } });\n    } else {\n      if (primaryStat && !primaryStat.in_meta) {\n        findings.push({ issue_class: 'meta', severity: 'low', target_keyword: primary,\n          detail: 'Primary target term \"' + primary + '\" is missing from the meta description',\n          evidence: { meta_len: s.meta_len, keyword: primary } });\n      }\n      if (s.meta_len > 160 || s.meta_len < 70) {\n        findings.push({ issue_class: 'meta', severity: 'low', target_keyword: primary,\n          detail: 'Meta description is ' + s.meta_len + ' chars (aim 70–160)', evidence: { meta_len: s.meta_len } });\n      }\n    }\n    // HEADINGS — no H1, more than one H1, or the primary term absent from every H1.\n    if (s.h1_count === 0) {\n      findings.push({ issue_class: 'headings', severity: 'medium', target_keyword: primary,\n        detail: 'Page has no H1 heading', evidence: { h1_count: 0 } });\n    } else if (s.h1_count > 1) {\n      findings.push({ issue_class: 'headings', severity: 'low', target_keyword: primary,\n        detail: 'Page has ' + s.h1_count + ' H1 headings (use exactly one)', evidence: { h1_count: s.h1_count, h1: s.h1 } });\n    } else if (primaryStat && !primaryStat.in_h1) {\n      findings.push({ issue_class: 'headings', severity: 'low', target_keyword: primary,\n        detail: 'Primary target term \"' + primary + '\" is missing from the H1', evidence: { h1: s.h1, keyword: primary } });\n    }\n    // THIN — the body copy is below the thin-content threshold.\n    if (s.word_count < THIN) {\n      findings.push({ issue_class: 'thin', severity: s.word_count < Math.round(THIN / 2) ? 'high' : 'medium', target_keyword: primary,\n        detail: 'Thin content: ' + s.word_count + ' words (below the ' + THIN + '-word target)', evidence: { word_count: s.word_count, threshold: THIN } });\n    }\n    // INTENT — a secondary target term entirely uncovered (coverage-of-cluster heuristic).\n    for (const st of (s.keyword_stats || [])) {\n      if (primary && st.keyword === primary) continue;\n      if (st.occurrences === 0) {\n        findings.push({ issue_class: 'intent', severity: 'low', target_keyword: st.keyword,\n          detail: 'Target term \"' + st.keyword + '\" from the cluster is not covered on the page',\n          evidence: { keyword: st.keyword, occurrences: 0 } });\n      }\n    }\n  }\n  const withIds = findings.map((f) => Object.assign({}, f, {\n    finding_id: fid(f.issue_class, (url || '') + '|' + (f.target_keyword || '') + '|' + (f.evidence && f.evidence.check ? f.evidence.check : f.issue_class)),\n  }));\n  out.push({ json: Object.assign({}, j, {\n    __facts_ok: j.__scrape_ok === true,\n    __facts_reason: j.__scrape_ok === true ? null : (j.__scrape_reason || j.__facts_reason || 'no_data'),\n    __findings: withIds,\n  }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "recommend",
      "name": "Recommend?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3080,
        -40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "recommend-cond",
              "leftValue": "={{ $json.__facts_ok === true && (($env.SEO_CONTENT_GAP_WORKFLOW_ID || \"\") || \"\") !== \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "content-gap",
      "name": "Content Gap",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3300,
        -120
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.SEO_CONTENT_GAP_WORKFLOW_ID || \"\" }}",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "attach-recommendations",
      "name": "Attach Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Assess Content').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  let p = items[i].json || {};\n  if (p.body && typeof p.body === 'object') p = p.body; // envelope tolerance\n  const recs = (p && typeof p === 'object' && p.recommendations && typeof p.recommendations === 'object') ? p.recommendations : {};\n  const findings = (Array.isArray(c.__findings) ? c.__findings : []).map((f) => {\n    const cand = recs[f.finding_id];\n    const rec = (typeof cand === 'string' && cand.trim()) ? cand.trim().slice(0, 600) : null;\n    return Object.assign({}, f, { recommendation: rec });\n  });\n  out.push({ json: Object.assign({}, c, { __findings: findings }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "skip-recommendations",
      "name": "Skip Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        100
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => {\n  const j = it.json || {};\n  const findings = (Array.isArray(j.__findings) ? j.__findings : []).map((f) => Object.assign({}, f, { recommendation: null }));\n  return { json: Object.assign({}, j, { __findings: findings }) };\n});"
      }
    },
    {
      "id": "write-findings",
      "name": "Write Findings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3740,
        -40
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/tmpl_seo_content_findings?on_conflict=tenant,finding_id,run_date",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(($json.__findings || []).map((f) => ({ tenant: $json.__tenant, url: $json.__target, finding_id: f.finding_id, issue_class: f.issue_class, severity: f.severity, target_keyword: f.target_keyword, recommendation: f.recommendation, evidence: f.evidence, status: \"open\", run_date: $json.__run_date }))) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "sign-notify",
      "name": "Sign Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst RANK = { critical: 5, high: 4, medium: 3, low: 2, info: 1 };\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json || {};\n  const findings = Array.isArray(j.__findings) ? j.__findings : [];\n  const factsOk = j.__facts_ok === true;\n  let message;\n  if (!factsOk) {\n    const why = j.__facts_reason ? (' (' + j.__facts_reason + ')') : '';\n    message = '🔍 Content tracker — the page could not be read this run' + why +\n      '. No content findings are shown because the page words were not returned.';\n  } else {\n    const bySev = {};\n    for (const f of findings) { bySev[f.severity] = (bySev[f.severity] || 0) + 1; }\n    const sevLine = ['critical', 'high', 'medium', 'low'].map((s) => (bySev[s] ? bySev[s] + ' ' + s : null)).filter(Boolean).join(', ') || 'no issues';\n    const top = findings.slice().sort((a, b) => (RANK[b.severity] || 0) - (RANK[a.severity] || 0))[0];\n    const fix = top ? (' Top fix: ' + String(top.recommendation || top.detail).slice(0, 260)) : '';\n    message = '🔍 Content tracker — ' + findings.length + ' content finding(s) for ' + (j.__target || '?') +\n      ' (' + sevLine + ').' + fix;\n  }\n  const payload = {\n    message: String(message).slice(0, 3500),\n    kind: 'content_tracker',\n    tenant: j.__tenant || null,\n    url: j.__target || null,\n    run_date: j.__run_date || null,\n    facts_ok: factsOk,\n    finding_count: findings.length,\n  };\n  const ts = String(Date.now());\n  out.push({ json: Object.assign({}, j, {\n    __notify_payload: payload,\n    __notify_ts: ts,\n    __notify_sig: SECRET ? crypto.createHmac('sha256', SECRET).update(ts + '.' + JSON.stringify(payload)).digest('hex') : '',\n  }) });\n}\nreturn out;"
      }
    },
    {
      "id": "notify-report",
      "name": "Notify Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4180,
        -40
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.STUDIO_NOTIFY_FANOUT_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-signature",
              "value": "={{ $json.__notify_sig }}"
            },
            {
              "name": "x-n8n-timestamp",
              "value": "={{ $json.__notify_ts }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.__notify_payload) }}"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    }
  ],
  "connections": {
    "Content Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Auth Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Gate": {
      "main": [
        [
          {
            "node": "Sign Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Ack": {
      "main": [
        [
          {
            "node": "Ack 202 Signed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack 202 Signed": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Spend Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend Read": {
      "main": [
        [
          {
            "node": "Spend Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend Gate": {
      "main": [
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Extract Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Signals": {
      "main": [
        [
          {
            "node": "Terms?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terms?": {
      "main": [
        [
          {
            "node": "Term Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Term Metrics": {
      "main": [
        [
          {
            "node": "Merge Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Metrics": {
      "main": [
        [
          {
            "node": "Assess Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Terms": {
      "main": [
        [
          {
            "node": "Assess Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Content": {
      "main": [
        [
          {
            "node": "Recommend?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recommend?": {
      "main": [
        [
          {
            "node": "Content Gap",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Gap": {
      "main": [
        [
          {
            "node": "Attach Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Recommendations": {
      "main": [
        [
          {
            "node": "Write Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Recommendations": {
      "main": [
        [
          {
            "node": "Write Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Findings": {
      "main": [
        [
          {
            "node": "Sign Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Notify": {
      "main": [
        [
          {
            "node": "Notify Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
