components/n8n/workflows/email-lead-qualifier.json
{
  "name": "[TEMPLATE] [email_plugin] Email Lead Qualifier — Rule-Based",
  "nodes": [
    {
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "=to:{{ $vars.LEAD_INBOX_ALIAS }}"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cred-ref:gmail-lead-inbox",
          "name": "[STUDIO] Gmail Lead Inbox"
        }
      }
    },
    {
      "id": "normalize-lead",
      "name": "Normalize Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst isDenylistedSender = function isDenylistedSender(fromAddr,headers,selfAddresses){const addr=String(fromAddr||\"\").trim().toLowerCase();if(!addr)return true;const local=addr.split(\"@\")[0]||\"\";if(/^(no-?reply|do-?not-?reply|mailer-daemon|postmaster|bounce|bounces|notification|notifications|alert|alerts|auto|automated|robot)([+._-]|$)/.test(local)){return true}const h=headers||{};const auto=String(h[\"auto-submitted\"]||\"\").toLowerCase();if(auto&&auto!==\"no\")return true;const prec=String(h[\"precedence\"]||\"\").toLowerCase();if(prec===\"bulk\"||prec===\"junk\"||prec===\"list\"||prec===\"auto_reply\")return true;if(h[\"list-id\"]||h[\"list-unsubscribe\"]||h[\"x-autoreply\"]||h[\"x-autorespond\"])return true;if(String(h[\"return-path\"]||\"\").trim()===\"<>\")return true;for(const s of selfAddresses||[]){const self=String(s||\"\").trim().toLowerCase();if(self&&addr===self)return true}return false};\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const m = it.json || {};\n  const payload = m.payload || {};\n  const headerList = Array.isArray(payload.headers) ? payload.headers : [];\n  const h = {};\n  for (const hh of headerList) {\n    if (hh && hh.name) h[String(hh.name).toLowerCase()] = String(hh.value ?? '');\n  }\n  const from = h['from'] || '';\n  const emailMatch = from.match(/<([^>]+)>/);\n  const email = (emailMatch ? emailMatch[1] : from).trim().toLowerCase() || null;\n  let name = null;\n  if (emailMatch) {\n    const dn = from.slice(0, from.indexOf('<')).trim().replace(/^\"|\"$/g, '').trim();\n    if (dn) name = dn;\n  }\n  // Body text: first text/plain part (base64url), else the snippet. Best-effort.\n  const findPlain = (p) => {\n    if (!p) return null;\n    if (p.mimeType === 'text/plain' && p.body && p.body.data) return p.body.data;\n    for (const q of p.parts || []) { const r = findPlain(q); if (r) return r; }\n    return null;\n  };\n  let message = null;\n  const data = findPlain(payload);\n  if (data) {\n    try {\n      message = Buffer.from(String(data).replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf8');\n    } catch (e) { message = null; }\n  }\n  if (!message) message = m.snippet || null;\n  const receivedMs = Number(m.internalDate || 0);\n  out.push({ json: {\n    source: 'email',\n    name,\n    email,\n    business: null,\n    store_url: null,\n    budget_range: null,\n    message,\n    received_at: receivedMs ? new Date(receivedMs).toISOString() : null,\n    gmail_message_id: m.id || null,\n    thread_id: m.threadId || null,\n    __subject: h['subject'] || null,\n    __denylist: isDenylistedSender(email || '', h, [\n      String(readSecret('LEAD_INBOX_ALIAS') || ''),\n      String(readSecret('LEAD_SEND_AS_ALIAS') || ''),\n    ]),\n  } });\n}\nreturn out;"
      }
    },
    {
      "id": "denylist-gate",
      "name": "Denylist Gate",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "filterType": "manual",
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "denylist-gate-cond",
              "leftValue": "={{ $json.__denylist === false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "check-seen",
      "name": "Check Seen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/tmpl_email_lead_intake?select=gmail_message_id,thread_id&or=(gmail_message_id.eq.{{ $json.gmail_message_id }},thread_id.eq.{{ $json.thread_id }})",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "dedupe-gate",
      "name": "Dedupe Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Normalize Lead').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  // PAT-4 guard: body may be '' (empty 200) or — on hosted n8n Cloud — already\n  // parsed (JSON content-types come back PRE-PARSED, LIVE 2026-07-07). Object-first.\n  let rows = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return []; try { return JSON.parse(__s); } catch (__e) { return []; } })(resp.body);\n  if (!Array.isArray(rows)) rows = [rows];\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  const seen = !!(c.gmail_message_id && rows.some((r) => r && r.gmail_message_id === c.gmail_message_id));\n  const threadKnown = !!(c.thread_id && rows.some((r) => r && r.thread_id === c.thread_id && r.gmail_message_id !== c.gmail_message_id));\n  out.push({ json: {\n    ...c,\n    __seen: seen,\n    __first_in_thread: !threadKnown,\n    __ack_ok: !threadKnown && c.__denylist === false && !!c.gmail_message_id,\n    __skip: seen || !c.gmail_message_id,\n  } });\n}\nreturn out;"
      }
    },
    {
      "id": "fresh-gate",
      "name": "Fresh Gate",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "filterType": "manual",
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fresh-gate-cond",
              "leftValue": "={{ $json.__skip === false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "drop-stopped",
      "name": "Drop Stopped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().filter((it) => it.json && it.json.__skip === false);"
      }
    },
    {
      "id": "enrichment-bound",
      "name": "Enrichment Bound?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "enrichment-bound-cond",
              "leftValue": "={{ (($vars.EMAIL_ENRICHMENT_WORKFLOW_ID || \"\") || \"\") !== \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-lead",
      "name": "Enrich Lead",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1760,
        -120
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.EMAIL_ENRICHMENT_WORKFLOW_ID || \"\" }}",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "merge-enrichment",
      "name": "Merge Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const mergeEnrichment = function mergeEnrichment(lead,partial){const out=Object.assign({},lead);if(!partial||typeof partial!==\"object\")return out;for(const k of[\"business\",\"store_url\",\"budget_range\",\"band_hint\",\"summary\"]){const cur=out[k];const inc=partial[k];if((cur===null||cur===void 0||cur===\"\")&&inc!==null&&inc!==void 0&&String(inc).trim()!==\"\"){out[k]=inc}}return out};\nconst ctx = $('Drop Stopped').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  let p = items[i].json || {};\n  if (p.body && typeof p.body === 'object') p = p.body; // envelope tolerance\n  out.push({ json: mergeEnrichment(c, p) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "skip-enrichment",
      "name": "Skip Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => ({ json: it.json }));"
      }
    },
    {
      "id": "qualify",
      "name": "Qualify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const scoreEmailLead = function scoreEmailLead(lead,opts){const FREEMAIL=[\"gmail.com\",\"googlemail.com\",\"yahoo.com\",\"ymail.com\",\"hotmail.com\",\"outlook.com\",\"live.com\",\"msn.com\",\"aol.com\",\"icloud.com\",\"me.com\",\"proton.me\",\"protonmail.com\",\"gmx.com\",\"mail.com\",\"zoho.com\",\"yandex.com\"];const email=String(lead.email||\"\").toLowerCase();const domain=email.includes(\"@\")?email.split(\"@\").pop()||\"\":\"\";const text=String(lead.message||\"\");const matched=[];let score=0;if(domain&&domain.includes(\".\")&&FREEMAIL.indexOf(domain)===-1){matched.push(\"business_domain\");score+=2}if(text.replace(/\\s+/g,\" \").trim().length>=opts.minMessageChars){matched.push(\"message_length\");score+=1}let hits=0;for(const k of opts.inquiryKeywords||[]){const esc=String(k).replace(/[.*+?^{}()|[\\]\\\\$]/g,\"\\\\$&\");if(new RegExp(\"\\\\b\"+esc+\"\\\\b\",\"i\").test(text))hits++}if(hits>0){const counted=Math.min(hits,3);matched.push(\"inquiry_keywords(\"+counted+\")\");score+=counted}if(lead.__first_in_thread===true){matched.push(\"fresh_thread\");score+=1}const band=score>=opts.hotThreshold?\"HOT\":score>=opts.warmThreshold?\"WARM\":\"COLD\";return{band,score,matched}};\nconst OPTS = {\"inquiryKeywords\":[\"quote\",\"pricing\",\"price\",\"estimate\",\"proposal\",\"project\",\"hire\",\"budget\",\"timeline\",\"redesign\",\"rebuild\",\"build\",\"website\",\"store\",\"storefront\",\"shopify\",\"ecommerce\",\"consult\",\"audit\"],\"minMessageChars\":80,\"hotThreshold\":4,\"warmThreshold\":2};\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const v = scoreEmailLead(j, OPTS);\n  // n8n Cloud freezes Code-node input items (IN-25): RETURN new items so the\n  // notify/telemetry nodes read __band/__score/__reason.\n  const item = { json: Object.assign({}, j, {\n    __band: v.band,\n    __score: v.score,\n    __reason: v.matched.length ? 'matched: ' + v.matched.join(', ') : 'no rules matched',\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "sign-notify",
      "name": "Sign Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const excerpt = String(j.message || '').replace(/\\s+/g, ' ').trim().slice(0, 140);\n  const payload = {\n    message: '[LEAD ' + j.__band + '] ' + (j.email || 'unknown sender') + ' — '\n      + (j.__subject || '(no subject)') + (excerpt ? ': ' + excerpt : ''),\n    source: 'email',\n    band: j.__band,\n    score: j.__score,\n    sender: j.email || null,\n    subject: j.__subject || null,\n    excerpt: excerpt || null,\n    received_at: j.received_at || null,\n    thread_id: j.thread_id || null,\n  };\n  const ts = String(Date.now());\n  // n8n Cloud freezes Code-node input items (IN-25): RETURN a new item so the\n  // fan-out HTTP node reads __notify_payload/__notify_ts/__notify_sig.\n  // Fail-open to UNSIGNED when the secret is unreachable ('' from readSecret) —\n  // omit the signature rather than throw or sign with an empty key.\n  const item = { json: Object.assign({}, j, {\n    __notify_payload: payload,\n    __notify_ts: ts,\n    __notify_sig: SECRET ? crypto.createHmac('sha256', SECRET).update(ts + '.' + JSON.stringify(payload)).digest('hex') : '',\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "notify-owner",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2640,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.STUDIO_NOTIFY_FANOUT_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-signature",
              "value": "={{ $json.__notify_sig }}"
            },
            {
              "name": "x-n8n-timestamp",
              "value": "={{ $json.__notify_ts }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.__notify_payload) }}"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "stamp-notified",
      "name": "Stamp Notified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Qualify').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  const status = Number(resp.statusCode || 0);\n  out.push({ json: { ...c, __notified_at: (status >= 200 && status < 300) ? new Date().toISOString() : null } });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "first-in-thread",
      "name": "First In Thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3080,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "first-in-thread-cond",
              "leftValue": "={{ $json.__ack_ok === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ack-reply",
      "name": "Ack Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3300,
        -120
      ],
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $json.gmail_message_id }}",
        "message": "Thanks for reaching out — we received your message. A real person will get back to you within 1 business day.",
        "emailType": "text",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "cred-ref:gmail-lead-inbox",
          "name": "[STUDIO] Gmail Lead Inbox"
        }
      }
    },
    {
      "id": "stamp-acked",
      "name": "Stamp Acked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Stamp Notified').all().filter((it) => it.json && it.json.__ack_ok === true);\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  out.push({ json: { ...c, __acked_at: new Date().toISOString() } });\n}\nreturn out;"
      }
    },
    {
      "id": "stamp-unacked",
      "name": "Stamp Unacked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => ({ json: { ...it.json, __acked_at: null } }));"
      }
    },
    {
      "id": "insert-telemetry",
      "name": "Insert Telemetry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3740,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/tmpl_email_lead_intake",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ band: $json.__band, score: $json.__score, source: \"email\", received_at: $json.received_at, notified_at: $json.__notified_at, acked_at: $json.__acked_at, gmail_message_id: $json.gmail_message_id, thread_id: $json.thread_id }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          {
            "node": "Denylist Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Denylist Gate": {
      "main": [
        [
          {
            "node": "Check Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Seen": {
      "main": [
        [
          {
            "node": "Dedupe Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Gate": {
      "main": [
        [
          {
            "node": "Fresh Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fresh Gate": {
      "main": [
        [
          {
            "node": "Drop Stopped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Stopped": {
      "main": [
        [
          {
            "node": "Enrichment Bound?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment Bound?": {
      "main": [
        [
          {
            "node": "Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead": {
      "main": [
        [
          {
            "node": "Merge Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Enrichment": {
      "main": [
        [
          {
            "node": "Qualify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Enrichment": {
      "main": [
        [
          {
            "node": "Qualify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualify": {
      "main": [
        [
          {
            "node": "Sign Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Notify": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Stamp Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Notified": {
      "main": [
        [
          {
            "node": "First In Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First In Thread?": {
      "main": [
        [
          {
            "node": "Ack Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stamp Unacked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Reply": {
      "main": [
        [
          {
            "node": "Stamp Acked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Acked": {
      "main": [
        [
          {
            "node": "Insert Telemetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Unacked": {
      "main": [
        [
          {
            "node": "Insert Telemetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
