components/n8n/workflows/reactivation-reply.json
{
  "name": "[TEMPLATE] [reactivation_plugin] Reply + Provider Events Router",
  "nodes": [
    {
      "id": "inbound-webhook",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "reactivation-reply",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst MAX_SKEW_MS = 300000;\nconst SIG_HEADER = \"x-n8n-signature\";\nconst TS_HEADER = \"x-n8n-timestamp\";\nconst STATIC_HEADER = \"x-static-token\";\nconst hmac = (d) => crypto.createHmac('sha256', SECRET).update(d).digest('hex');\nconst safeEq = (aHex, bHex) => {\n  if (!aHex || !bHex) return false;\n  const a = Buffer.from(String(aHex)), b = Buffer.from(String(bHex));\n  return a.length === b.length && crypto.timingSafeEqual(a, b);\n};\n// TE-16: recover the EXACT signed bytes — rawBody when n8n captured it, else a\n// careful re-stringify of the parsed body (must round-trip byte-identical).\nconst rawOf = (j) => (j.rawBody != null) ? j.rawBody.toString() : JSON.stringify(j.body);\n\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const headers = j.headers || {};\n  const raw = rawOf(j);\n  let ok = false;\n  // Fail-closed: an unconfigured secret can never verify (and never throws).\n  if (SECRET) {\n  const sig = headers[SIG_HEADER];\n  const ts = headers[TS_HEADER];\n  if (ts) {\n    // timestamp PRESENT -> studio form: replay-guarded HMAC(`${ts}.${body}`).\n    const n = Number(ts);\n    if (sig && Number.isFinite(n) && Math.abs(Date.now() - n) <= MAX_SKEW_MS) {\n      ok = safeEq(hmac(ts + '.' + raw), sig);\n    }\n  } else {\n    // timestamp ABSENT -> harness verify-n8n form: bare-body HMAC(`${body}`),\n    // only the signature header present.\n    ok = safeEq(hmac(raw), sig);\n  }\n  }\n  // n8n Cloud freezes Code-node input items (IN-25): in-place mutations are\n  // silently dropped — always RETURN new items.\n  const item = { json: Object.assign({}, j, { __authok: ok }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "auth-gate",
      "name": "Auth Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-gate-cond",
              "leftValue": "={{ $json.__authok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "reject-401",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"invalid or missing signature\" } }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "sign-ack",
      "name": "Sign Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const requestId = (j.body && j.body.request_id) || j.request_id || null;\n  const body = { ok: true, request_id: requestId };\n  const payload = JSON.stringify(body);\n  // n8n Cloud freezes Code-node input items (IN-25): in-place writes are silently\n  // dropped, so the respond node would read an item WITHOUT __sig and answer\n  // unsigned. Always RETURN a NEW item carrying the signing fields (and binary).\n  // Fail-open to UNSIGNED when the secret is unreachable — empty __sig rather than\n  // throw or sign with an empty key.\n  const item = { json: Object.assign({}, j, {\n    __body: body,\n    __ts: String(Date.now()),\n    __sig: SECRET ? crypto.createHmac('sha256', SECRET).update(payload).digest('hex') : '',\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "ack-202",
      "name": "Ack 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        -200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.__body }}",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              {
                "name": "x-n8n-signature",
                "value": "={{ $json.__sig }}"
              }
            ]
          }
        }
      }
    },
    {
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const DEFAULT_PREFIX = \"+1\";\nconst STOP = ['STOP', 'STOPALL', 'UNSUBSCRIBE', 'CANCEL', 'END', 'QUIT'];\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const b = (it.json && it.json.body && typeof it.json.body === 'object') ? it.json.body : (it.json || {});\n  const text = (b.text || b.Body || b.message || '').toString();\n  let from = (b.from || b.From || b.phone || '').toString().trim();\n  if (from) {\n    const hasPlus = from.charAt(0) === '+';\n    const digits = from.replace(/[^0-9]/g, '');\n    from = digits ? (hasPlus ? '+' + digits : DEFAULT_PREFIX + digits) : '';\n  }\n  const evtype = (b.event_type || b.type || b.EventType || b.MessageStatus || b.SmsStatus || '').toString().toLowerCase();\n  const upper = text.trim().toUpperCase();\n  const stop = STOP.includes(upper);\n  const unsub = stop || /unsubscribe/i.test(text);\n  const bounced = /bounce|undeliver|failed|delivery_failed|dropped/.test(evtype) || b.bounced === true;\n  const booked = /book|appoint|scheduled|won/.test(evtype) || b.booked === true || b.booking_won === true;\n  out.push({ json: Object.assign({}, it.json, {\n    __from: from,\n    __text: text,\n    __msgId: (b.provider_msg_id || b.message_id || b.MessageSid || b.msg_id || b.id || '').toString(),\n    __contact_id: (b.contact_id != null ? b.contact_id : null),\n    __channel: (b.channel || (from ? 'sms' : 'email')).toString().toLowerCase(),\n    __email: (b.email || '').toString().toLowerCase() || null,\n    __event_type: evtype || 'reply',\n    __stop: stop,\n    __unsubscribe: unsub,\n    __bounced: bounced,\n    __booked: booked,\n    // suppress on any of the terminal signals; reason drives the suppression row.\n    __suppress: stop || unsub || bounced || booked,\n    __suppress_reason: booked ? 'booked' : (bounced ? 'bounce' : (stop ? 'stop' : (unsub ? 'unsubscribe' : null))),\n    // a reply event WITH text is worth an LLM intent read; pure provider events aren't.\n    __needs_llm: !bounced && !booked && !stop && text.trim().length > 0,\n  }) });\n}\nreturn out;"
      }
    },
    {
      "id": "needs-suppression",
      "name": "Needs Suppression?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-suppression-cond",
              "leftValue": "={{ $json.__suppress === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "upsert-suppression",
      "name": "Upsert Suppression",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/suppression_list?on_conflict=email",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.__email, phone: $json.__from || null, reason: $json.__suppress_reason, suppressed_at: new Date().toISOString() }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "prep-classify",
      "name": "Prep Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => ({ json: it.json }));"
      }
    },
    {
      "id": "classify-llm",
      "name": "Classify LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        -40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "classify-llm-cond",
              "leftValue": "={{ $json.__needs_llm === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "classify-intent",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        -160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Title",
              "value": "STUDIO reactivation-reply"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"anthropic/claude-haiku-4-5\", temperature: 0, max_tokens: 128, messages: ([{ role: \"user\", content: \"You are triaging a reply to a re-engagement message. Read the customer reply and output ONLY a minified JSON object — no markdown, no code fences — with exactly these keys: intent (one of booking_request, interested, unsubscribe, other) and confidence (a number from 0 to 1). booking_request = wants to book/schedule/talk; interested = positive but not yet booking; unsubscribe = wants out / negative; other = anything else. Be conservative when unsure.\" + \"\\n\\nREPLY:\\n\" + ($json.__text || \"\") }]) }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:openrouter",
          "name": "[STUDIO] OpenRouter API"
        }
      }
    },
    {
      "id": "parse-intent",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -160
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const INTENTS = ['booking_request', 'interested', 'unsubscribe', 'other'];\nconst keyword = (j) => {\n  if (j.__booked) return { intent: 'booking_request', confidence: 0.9 };\n  if (j.__stop || j.__unsubscribe) return { intent: 'unsubscribe', confidence: 0.95 };\n  const t = (j.__text || '').toString();\n  if (/\\b(book|appointment|schedule|call|meet|demo|available|availability|time)\\b/i.test(t)) return { intent: 'booking_request', confidence: 0.5 };\n  if (/\\b(yes|interested|sure|sounds good|tell me more|how much|pricing|price|quote)\\b/i.test(t)) return { intent: 'interested', confidence: 0.5 };\n  if (/\\b(no|not interested|stop|remove|unsubscribe)\\b/i.test(t)) return { intent: 'unsubscribe', confidence: 0.55 };\n  return { intent: 'other', confidence: 0.4 };\n};\nconst ctx = $('Prep Classify').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  const status = Number(resp.statusCode || 0);\n  const parsed = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return null; try { return JSON.parse(__s); } catch (__e) { return null; } })(resp.body);\n  let v = null;\n  if (parsed && status >= 200 && status < 300) {\n    const content = parsed.choices && parsed.choices[0] && parsed.choices[0].message && parsed.choices[0].message.content;\n    if (typeof content === 'string') {\n      // Extract the JSON object by first-brace/last-brace (fence-tolerant, no backticks).\n      const a = content.indexOf('{'); const b = content.lastIndexOf('}');\n      if (a !== -1 && b > a) { try { v = JSON.parse(content.slice(a, b + 1)); } catch (e) { v = null; } }\n    } else if (content && typeof content === 'object') { v = content; }\n  }\n  let intent, confidence, src;\n  if (v && INTENTS.includes(v.intent)) {\n    intent = v.intent;\n    let conf = Number(v.confidence);\n    confidence = Number.isFinite(conf) ? Math.min(1, Math.max(0, conf)) : 0.5;\n    src = 'llm';\n  } else {\n    const k = keyword(c);\n    intent = k.intent; confidence = k.confidence; src = 'keyword_fallback';\n  }\n  out.push({ json: Object.assign({}, c, { __intent: intent, __confidence: confidence, __intent_src: src }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "keyword-intent",
      "name": "Keyword Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        80
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst out = [];\nconst classify = (j) => {\n  if (j.__booked) return { intent: 'booking_request', confidence: 0.9 };\n  if (j.__stop || j.__unsubscribe) return { intent: 'unsubscribe', confidence: 0.95 };\n  if (j.__bounced) return { intent: 'other', confidence: 0.5 };\n  const t = (j.__text || '').toString();\n  if (/\\b(book|appointment|schedule|call|meet|demo|available|availability|time)\\b/i.test(t)) return { intent: 'booking_request', confidence: 0.55 };\n  if (/\\b(yes|interested|sure|sounds good|tell me more|how much|pricing|price|quote)\\b/i.test(t)) return { intent: 'interested', confidence: 0.55 };\n  if (/\\b(no|not interested|stop|remove|unsubscribe)\\b/i.test(t)) return { intent: 'unsubscribe', confidence: 0.6 };\n  return { intent: 'other', confidence: 0.4 };\n};\nfor (const it of items) {\n  const v = classify(it.json);\n  out.push({ json: Object.assign({}, it.json, { __intent: v.intent, __confidence: v.confidence, __intent_src: 'keyword' }) });\n}\nreturn out;"
      }
    },
    {
      "id": "classify-or-keyword",
      "name": "Classify Or Keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => ({ json: it.json }));"
      }
    },
    {
      "id": "insert-reply",
      "name": "Insert Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2200,
        -40
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tmpl_reactivation_replies?on_conflict=provider_msg_id",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_id: $json.__contact_id, channel: $json.__channel, intent: $json.__intent, confidence: $json.__confidence, received_at: new Date().toISOString(), provider_msg_id: $json.__msgId || null }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "route-prep",
      "name": "Route Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Classify Or Keyword').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  let outcome = 'other';\n  if (c.__booked) outcome = 'booked';\n  else if (c.__bounced) outcome = 'bounce';\n  else if (c.__intent === 'booking_request' || c.__intent === 'interested') outcome = 'hot';\n  out.push({ json: Object.assign({}, c, { __outcome: outcome }) });\n}\nreturn out;"
      }
    },
    {
      "id": "outcome",
      "name": "Outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2640,
        -40
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "outcome-r0",
                    "leftValue": "={{ $json.__outcome }}",
                    "rightValue": "hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "hot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "outcome-r1",
                    "leftValue": "={{ $json.__outcome }}",
                    "rightValue": "bounce",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "bounce"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "outcome-r2",
                    "leftValue": "={{ $json.__outcome }}",
                    "rightValue": "booked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "booked"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "sign-notify",
      "name": "Sign Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -220
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  // The booking link is a config value reached the same fail-open way as any secret\n  // (readSecret: $env→$vars→''); n8n Cloud blocks a bare $env read in Code nodes.\n  const bookingLink = readSecret(\"REACTIVATION_BOOKING_LINK\");\n  const who = j.__from || j.__email || ('contact ' + (j.__contact_id != null ? j.__contact_id : '?'));\n  const payload = {\n    message: '🔥 REACTIVATION: ' + who + ' replied — ' + (j.__intent || 'interested')\n      + ' (' + (Math.round((Number(j.__confidence) || 0) * 100)) + '%). Book: ' + (bookingLink || 'n/a'),\n    kind: 'reactivation_reply',\n    intent: j.__intent || null,\n    confidence: Number(j.__confidence) || null,\n    contact_id: j.__contact_id != null ? j.__contact_id : null,\n    channel: j.__channel || null,\n    booking_link: bookingLink || null,\n  };\n  const ts = String(Date.now());\n  out.push({ json: Object.assign({}, j, {\n    __notify_payload: payload,\n    __notify_ts: ts,\n    __notify_sig: SECRET ? crypto.createHmac('sha256', SECRET).update(ts + '.' + JSON.stringify(payload)).digest('hex') : '',\n  }) });\n}\nreturn out;"
      }
    },
    {
      "id": "notify-owner",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3080,
        -220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.STUDIO_NOTIFY_FANOUT_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-signature",
              "value": "={{ $json.__notify_sig }}"
            },
            {
              "name": "x-n8n-timestamp",
              "value": "={{ $json.__notify_ts }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.__notify_payload) }}"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "mark-hot",
      "name": "Mark Hot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3300,
        -220
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tmpl_reactivation_contacts?id=eq.{{ encodeURIComponent($json.__contact_id) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: \"hot\" }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "reconcile-event",
      "name": "Reconcile Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2860,
        -40
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tmpl_reactivation_events?provider_msg_id=eq.{{ encodeURIComponent($json.__msgId) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: \"bounced\" }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "suppress-contact",
      "name": "Suppress Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2860,
        140
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tmpl_reactivation_contacts?id=eq.{{ encodeURIComponent($json.__contact_id) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: \"suppressed\" }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Auth Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Gate": {
      "main": [
        [
          {
            "node": "Sign Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Ack": {
      "main": [
        [
          {
            "node": "Ack 202",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Needs Suppression?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Suppression?": {
      "main": [
        [
          {
            "node": "Upsert Suppression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Classify": {
      "main": [
        [
          {
            "node": "Classify LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify LLM?": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keyword Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Classify Or Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Intent": {
      "main": [
        [
          {
            "node": "Classify Or Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Or Keyword": {
      "main": [
        [
          {
            "node": "Insert Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Reply": {
      "main": [
        [
          {
            "node": "Route Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Prep": {
      "main": [
        [
          {
            "node": "Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outcome": {
      "main": [
        [
          {
            "node": "Sign Notify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reconcile Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Suppress Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Notify": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Mark Hot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
