components/n8n/workflows/sms-lead-qualifier.json
{
  "name": "[TEMPLATE] SMS Lead Qualifier — Rule-Based",
  "nodes": [
    {
      "id": "inbound-webhook",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-lead-qualifier",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst MAX_SKEW_MS = 300000;\nconst SIG_HEADER = \"x-n8n-signature\";\nconst TS_HEADER = \"x-n8n-timestamp\";\nconst STATIC_HEADER = \"x-static-token\";\nconst hmac = (d) => crypto.createHmac('sha256', SECRET).update(d).digest('hex');\nconst safeEq = (aHex, bHex) => {\n  if (!aHex || !bHex) return false;\n  const a = Buffer.from(String(aHex)), b = Buffer.from(String(bHex));\n  return a.length === b.length && crypto.timingSafeEqual(a, b);\n};\n// TE-16: recover the EXACT signed bytes — rawBody when n8n captured it, else a\n// careful re-stringify of the parsed body (must round-trip byte-identical).\nconst rawOf = (j) => (j.rawBody != null) ? j.rawBody.toString() : JSON.stringify(j.body);\n\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const headers = j.headers || {};\n  const raw = rawOf(j);\n  let ok = false;\n  // Fail-closed: an unconfigured secret can never verify (and never throws).\n  if (SECRET) {\n  const sig = headers[SIG_HEADER];\n  const ts = headers[TS_HEADER];\n  if (ts) {\n    // timestamp PRESENT -> studio form: replay-guarded HMAC(`${ts}.${body}`).\n    const n = Number(ts);\n    if (sig && Number.isFinite(n) && Math.abs(Date.now() - n) <= MAX_SKEW_MS) {\n      ok = safeEq(hmac(ts + '.' + raw), sig);\n    }\n  } else {\n    // timestamp ABSENT -> harness verify-n8n form: bare-body HMAC(`${body}`),\n    // only the signature header present.\n    ok = safeEq(hmac(raw), sig);\n  }\n  }\n  // n8n Cloud freezes Code-node input items (IN-25): in-place mutations are\n  // silently dropped — always RETURN new items.\n  const item = { json: Object.assign({}, j, { __authok: ok }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "auth-gate",
      "name": "Auth Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-gate-cond",
              "leftValue": "={{ $json.__authok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "reject-401",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"invalid or missing signature\" } }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const DEFAULT_PREFIX = \"+1\";\nconst OPTOUT = ['STOP', 'STOPALL', 'UNSUBSCRIBE', 'CANCEL', 'END', 'QUIT'];\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const b = it.json.body || it.json;\n  const text = (b.Body || b.text || b.message || '').toString();\n  let from = (b.From || b.from || '').toString().trim();\n  if (from) {\n    const hasPlus = from.charAt(0) === '+';\n    const digits = from.replace(/[^0-9]/g, '');\n    from = digits ? (hasPlus ? '+' + digits : DEFAULT_PREFIX + digits) : '';\n  }\n  // n8n Cloud freezes Code-node input items (IN-25): RETURN new items so the\n  // keyword branches / gates read __from/__text/__msgId/__optout.\n  const item = { json: Object.assign({}, it.json, {\n    __from: from,\n    __text: text,\n    __msgId: (b.MessageSid || b.message_id || '').toString(),\n    __optout: OPTOUT.includes(text.trim().toUpperCase()),\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      }
    },
    {
      "id": "opt-out-router",
      "name": "Opt-out Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "opt-out-router-cond",
              "leftValue": "={{ $json.__optout === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "persist-opt-out",
      "name": "Persist Opt-out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sms_lead_sessions?on_conflict=phone",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.__from, opted_out_at: new Date().toISOString(), last_message_at: new Date().toISOString(), last_provider_msg_id: $json.__msgId || null }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase",
          "name": "[STUDIO] Supabase service_role"
        }
      }
    },
    {
      "id": "opt-out-reply",
      "name": "Opt-out Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        160
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const REPLY = \"You are unsubscribed and will get no further messages. Reply HELP for help.\";\nconst parsed = $('Parse').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const ctx = (parsed[i] || parsed[0] || { json: {} }).json;\n  out.push({ json: { ...ctx, __reply: (ctx.__from && REPLY) ? REPLY : '' } });\n}\nreturn out;"
      }
    },
    {
      "id": "opt-out-reply-gate",
      "name": "Opt-out Reply Gate",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1540,
        320
      ],
      "parameters": {
        "filterType": "manual",
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "opt-out-reply-gate-cond",
              "leftValue": "={{ ($json.__reply || \"\") !== \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "opt-out-drop-unsent",
      "name": "Opt-out Drop Unsent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        320
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().filter((it) => it.json && typeof it.json.__reply === 'string' && it.json.__reply !== '');"
      }
    },
    {
      "id": "send-opt-out-ack",
      "name": "Send Opt-out Ack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1980,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SMS_PROVIDER_SEND_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.__from, body: $json.__reply }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:sms-provider",
          "name": "[STUDIO] SMS Provider"
        }
      }
    },
    {
      "id": "session-lookup",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        -40
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sms_lead_sessions?select=*&phone=eq.{{ encodeURIComponent($json.__from) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase",
          "name": "[STUDIO] Supabase service_role"
        }
      }
    },
    {
      "id": "merge-session",
      "name": "Merge Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const parsed = $('Parse').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  // PAT-4 guard: body may be '' (empty 200) or — on hosted n8n Cloud — already\n  // parsed (JSON content-types come back PRE-PARSED, LIVE 2026-07-07). Object-first.\n  let rows = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return []; try { return JSON.parse(__s); } catch (__e) { return []; } })(resp.body);\n  if (!Array.isArray(rows)) rows = [rows];\n  const ctx = (parsed[i] || parsed[0] || { json: {} }).json;\n  out.push({ json: { ...ctx, __session: rows[0] || null } });\n}\nreturn out;"
      }
    },
    {
      "id": "suppression-router",
      "name": "Suppression Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        -40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "suppression-router-cond",
              "leftValue": "={{ !($json.__session && $json.__session.opted_out_at) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dedupe-router",
      "name": "Dedupe Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        -40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dedupe-router-cond",
              "leftValue": "={{ !!$json.__from && !!$json.__msgId && (!$json.__session || $json.__session.last_provider_msg_id !== $json.__msgId) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "qualify-lead",
      "name": "Qualify Lead",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1980,
        -200
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.SMS_QUALIFIER_DECISION_WORKFLOW_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "sign-response",
      "name": "Sign Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const requestId = (j.body && j.body.request_id) || j.request_id || null;\n  const body = { ok: true, request_id: requestId };\n  const payload = JSON.stringify(body);\n  // n8n Cloud freezes Code-node input items (IN-25): in-place writes are silently\n  // dropped, so the respond node would read an item WITHOUT __sig and answer\n  // unsigned. Always RETURN a NEW item carrying the signing fields (and binary).\n  // Fail-open to UNSIGNED when the secret is unreachable — empty __sig rather than\n  // throw or sign with an empty key.\n  const item = { json: Object.assign({}, j, {\n    __body: body,\n    __ts: String(Date.now()),\n    __sig: SECRET ? crypto.createHmac('sha256', SECRET).update(payload).digest('hex') : '',\n  }) };\n  if (it.binary) item.binary = it.binary;\n  out.push(item);\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "respond-signed",
      "name": "Respond Signed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2200,
        -40
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.__body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "x-n8n-signature",
                "value": "={{ $json.__sig }}"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Auth Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Gate": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Opt-out Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt-out Router": {
      "main": [
        [
          {
            "node": "Persist Opt-out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Opt-out": {
      "main": [
        [
          {
            "node": "Opt-out Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt-out Reply": {
      "main": [
        [
          {
            "node": "Sign Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Opt-out Reply Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt-out Reply Gate": {
      "main": [
        [
          {
            "node": "Opt-out Drop Unsent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt-out Drop Unsent": {
      "main": [
        [
          {
            "node": "Send Opt-out Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Merge Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session": {
      "main": [
        [
          {
            "node": "Suppression Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suppression Router": {
      "main": [
        [
          {
            "node": "Dedupe Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sign Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Router": {
      "main": [
        [
          {
            "node": "Qualify Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sign Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sign Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Response": {
      "main": [
        [
          {
            "node": "Respond Signed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
