components/n8n/workflows/technical-audit.json
{
  "name": "[TEMPLATE] [technical_audit_plugin] Technical Site Audit — DataForSEO on-page + PageSpeed → ranked findings → notify",
  "nodes": [
    {
      "id": "every-week",
      "name": "Every Week",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "confirm-config",
      "name": "Confirm Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function safe(fn) { try { const v = fn(); return (v === null || v === undefined || String(v).trim() === '') ? null : String(v).trim(); } catch (e) { return null; } }\nconst tenant = safe(() => (($vars.SEO_TENANT || 'operand'))) || 'operand';\nconst target = safe(() => ($vars.SEO_TARGET_URL));\nconst now = Date.now();\n// UTC day-aligned run anchor (the finding row's run_date).\nconst runMs = new Date(new Date(now).setUTCHours(0, 0, 0, 0)).getTime();\nconst day = (ms) => new Date(ms).toISOString().slice(0, 10);\nreturn [{ json: {\n  __tenant: tenant,\n  __target: target,\n  __run_date: day(runMs),\n} }];"
      },
      "alwaysOutputData": true
    },
    {
      "id": "spend-read",
      "name": "Spend Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/global_send_quotas?select=spend_usd,count&channel=eq.dataforseo&sender_id=eq.dataforseo-daily&window_start=eq.{{ encodeURIComponent(new Date().toISOString().slice(0,10)) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "spend-gate",
      "name": "Spend Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst CAP = Number(readSecret(\"SEO_DATAFORSEO_DAILY_CAP\"));\nconst ctx = $('Confirm Config').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  let rows = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return []; try { return JSON.parse(__s); } catch (__e) { return []; } })(resp.body);\n  if (!Array.isArray(rows)) rows = rows ? [rows] : [];\n  const row = rows[0] || {};\n  const spent = Number(row.spend_usd != null ? row.spend_usd : (row.count != null ? row.count : 0)) || 0;\n  // No cap configured → do not block (fail-open); a finite cap gates at the boundary.\n  const under = !Number.isFinite(CAP) || CAP <= 0 ? true : spent < CAP;\n  out.push({ json: Object.assign({}, c, { __spend_under_cap: under }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "crawl",
      "name": "Crawl?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "crawl-cond",
              "leftValue": "={{ $json.__spend_under_cap === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "skip-crawl",
      "name": "Skip Crawl",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => ({ json: Object.assign({}, it.json, {\n  __onpage_ok: false,\n  __onpage_reason: 'dataforseo_spend_cap',\n  __onpage_issues: [],\n}) }));"
      },
      "alwaysOutputData": true
    },
    {
      "id": "dataforseo-on-page",
      "name": "DataForSEO On-Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "=($vars.DATAFORSEO_HOST || 'https://api.dataforseo.com')/v3/on_page/instant_pages/live",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 60000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{ url: $json.__target, enable_javascript: true, load_resources: true, enable_browser_rendering: false }]) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpBasicAuth": {
          "id": "cred-ref:dataforseo",
          "name": "[OPERAND] DataForSEO Basic"
        }
      }
    },
    {
      "id": "extract-on-page",
      "name": "Extract On-Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -80
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Confirm Config').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  // Carry a Skip-Crawl (over-cap) marker straight through — no pull happened.\n  if (resp.__onpage_reason) { out.push({ json: Object.assign({}, c, resp) }); continue; }\n  const status = Number(resp.statusCode || 0);\n  const parsed = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return null; try { return JSON.parse(__s); } catch (__e) { return null; } })(resp.body);\n  let onpageOk = false;\n  let reason = null;\n  const issues = [];\n  if (status === 401 || status === 403) { reason = 'dataforseo_unauthorized'; }\n  else if (status < 200 || status >= 300) { reason = 'dataforseo_error_' + (status || 'unknown'); }\n  else if (!parsed || !Array.isArray(parsed.tasks)) { reason = 'dataforseo_unparseable'; }\n  else {\n    const task = parsed.tasks[0] || {};\n    const taskStatus = Number(task.status_code || 0);\n    const result = Array.isArray(task.result) ? task.result[0] : null;\n    const list = result && Array.isArray(result.items) ? result.items : null;\n    if (taskStatus && taskStatus !== 20000) { reason = 'dataforseo_task_' + taskStatus; }\n    else if (!list) { reason = 'dataforseo_empty'; }\n    else {\n      const page = list[0] || {};\n      const checks = (page && typeof page.checks === 'object' && page.checks) || {};\n      const meta = (page && typeof page.meta === 'object' && page.meta) || {};\n      const url = page.url != null ? String(page.url) : (c.__target || null);\n      // DETERMINISTIC mapping: a truthy DataForSEO on-page check flag → a grounded issue.\n      // Each entry: [check-flag key, issue_class, severity, human detail].\n      const RULES = [\n        ['is_4xx_code', 'status', 'critical', 'Page returns a 4xx status code'],\n        ['is_5xx_code', 'status', 'critical', 'Page returns a 5xx status code'],\n        ['is_broken', 'status', 'critical', 'Page is broken / unreachable'],\n        ['is_redirect', 'status', 'medium', 'Page is a redirect (check the chain length)'],\n        ['canonical_chain', 'canonical', 'high', 'Canonical points through a chain'],\n        ['is_canonical_to_redirect', 'canonical', 'high', 'Canonical points to a redirecting URL'],\n        ['is_canonical_to_broken', 'canonical', 'high', 'Canonical points to a broken URL'],\n        ['no_canonical', 'canonical', 'medium', 'Page has no canonical tag'],\n        ['duplicate_title_tag', 'duplicate', 'medium', 'Duplicate <title> across pages'],\n        ['duplicate_meta_tags', 'duplicate', 'medium', 'Duplicate meta description across pages'],\n        ['duplicate_content', 'duplicate', 'high', 'Duplicate content detected'],\n        ['no_title', 'meta', 'high', 'Page has no <title> tag'],\n        ['title_too_long', 'meta', 'low', 'Title tag is too long'],\n        ['title_too_short', 'meta', 'low', 'Title tag is too short'],\n        ['no_description', 'meta', 'medium', 'Page has no meta description'],\n        ['no_h1_tag', 'meta', 'low', 'Page has no H1 heading'],\n        ['is_https', 'indexability', 'low', 'Page is not served over HTTPS'],\n        ['no_image_alt', 'meta', 'low', 'Images missing alt text'],\n        ['has_links_to_redirects', 'links', 'medium', 'Page links out to redirecting URLs'],\n        ['has_broken_links', 'links', 'high', 'Page has broken outbound links'],\n        ['has_broken_resources', 'links', 'high', 'Page has broken resources (css/js/img)'],\n        ['is_orphan_page', 'indexability', 'medium', 'Page is orphaned (no internal links in)'],\n        ['is_link_relation_conflict', 'links', 'low', 'Conflicting link relation attributes'],\n        ['no_favicon', 'meta', 'info', 'Page has no favicon'],\n        ['recursive_canonical', 'canonical', 'high', 'Canonical is recursive'],\n        ['high_loading_time', 'perf', 'medium', 'Server loading time is high (see CWV for field data)'],\n      ];\n      const negatives = { is_https: true }; // a FALSE flag is the problem for these\n      for (const rule of RULES) {\n        const key = rule[0];\n        const flag = checks[key];\n        const bad = negatives[key] ? flag === false : flag === true;\n        if (!bad) continue;\n        issues.push({\n          issue_class: rule[1], severity: rule[2], detail: rule[3], url: url,\n          evidence: { check: key, value: flag, meta: { title: meta.title != null ? String(meta.title).slice(0, 200) : null, description: meta.description != null ? String(meta.description).slice(0, 300) : null } },\n        });\n      }\n      onpageOk = true; // a 20000 task WITH a page result is grounded, even with zero issues\n      if (issues.length === 0) reason = 'dataforseo_no_issues';\n    }\n  }\n  out.push({ json: Object.assign({}, c, {\n    __onpage_ok: onpageOk,\n    __onpage_reason: reason,\n    __onpage_issues: issues,\n  }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "meter-spend",
      "name": "Meter Spend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -320
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const c = (items[i] && items[i].json) || {};\n  if (c[\"__onpage_ok\"] === false) { out.push({ json: Object.assign({}, c, { [\"__spend_delta\"]: 0 }) }); continue; }\n  \n  let delta = 0;\nfor (const __ref of [\"DataForSEO On-Page\"]) {\n  let __resp = {};\n  try { const __r = $(__ref).all(); __resp = (__r[i] || __r[0] || { json: {} }).json || {}; } catch (__e) { __resp = {}; }\n  const __parsed = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return null; try { return JSON.parse(__s); } catch (__e) { return null; } })(__resp.body);\n  if (__parsed && typeof __parsed === 'object') {\n    if (Number.isFinite(Number(__parsed.cost))) { delta += Number(__parsed.cost); }\n    else if (Array.isArray(__parsed.tasks)) { delta += __parsed.tasks.reduce((s, t) => s + (Number.isFinite(Number(t && t.cost)) ? Number(t.cost) : 0), 0); }\n  }\n}\n  if (!Number.isFinite(delta) || delta < 0) delta = 0;\n  out.push({ json: Object.assign({}, c, { [\"__spend_delta\"]: delta }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "real-spend",
      "name": "Real Spend?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        -420
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "real-spend-cond",
              "leftValue": "={{ (Number($json.__spend_delta) || 0) > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "spend-increment",
      "name": "Spend Increment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1440,
        -520
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/rpc/incr_send_quota",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_window_start: new Date().toISOString().slice(0,10), p_channel: \"dataforseo\", p_sender_id: \"dataforseo-daily\", p_count: 1, p_spend_usd: (Number($json.__spend_delta) || 0) }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "pagespeed",
      "name": "PageSpeed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ encodeURIComponent($json.__target || \"\") }}&category=performance&strategy=mobile{{ (($vars.PAGESPEED_API_KEY || '')) ? ('&key=' + encodeURIComponent(($vars.PAGESPEED_API_KEY || ''))) : '' }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "extract-cwv",
      "name": "Extract CWV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -80
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Extract On-Page').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json || {};\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  const status = Number(resp.statusCode || 0);\n  const parsed = (function(__b){ if (__b && typeof __b === 'object') return __b; const __s = String(__b ?? '').trim(); if (!__s) return null; try { return JSON.parse(__s); } catch (__e) { return null; } })(resp.body);\n  let cwvOk = false;\n  let reason = null;\n  let cwv = null;\n  const issues = [];\n  if (status === 401 || status === 403) { reason = 'psi_unauthorized'; }\n  else if (status === 429) { reason = 'psi_rate_limited'; }\n  else if (status < 200 || status >= 300) { reason = 'psi_error_' + (status || 'unknown'); }\n  else if (!parsed || typeof parsed !== 'object') { reason = 'psi_unparseable'; }\n  else if (parsed.error) { reason = 'psi_error_' + (parsed.error.code || 'api'); }\n  else {\n    const lr = (parsed.lighthouseResult && typeof parsed.lighthouseResult === 'object') ? parsed.lighthouseResult : {};\n    const audits = (lr.audits && typeof lr.audits === 'object') ? lr.audits : {};\n    const perfCat = (lr.categories && lr.categories.performance) || {};\n    function auditMs(key) { const a = audits[key]; const v = a && Number(a.numericValue); return Number.isFinite(v) ? v : null; }\n    const lcpMs = auditMs('largest-contentful-paint');\n    const clsA = audits['cumulative-layout-shift']; const cls = clsA && Number.isFinite(Number(clsA.numericValue)) ? Number(clsA.numericValue) : null;\n    // Lab proxy for INP: total-blocking-time (field INP folded in below when present).\n    let inpMs = auditMs('interaction-to-next-paint');\n    if (inpMs == null) inpMs = auditMs('total-blocking-time');\n    const score = Number.isFinite(Number(perfCat.score)) ? Number(perfCat.score) : null;\n    // Prefer CrUX FIELD data when PSI returns it (loadingExperience.metrics).\n    const field = (parsed.loadingExperience && parsed.loadingExperience.metrics) || {};\n    function fieldMs(k) { const m = field[k]; const v = m && Number(m.percentile); return Number.isFinite(v) ? v : null; }\n    const fLcp = fieldMs('LARGEST_CONTENTFUL_PAINT_MS');\n    const fInp = fieldMs('INTERACTION_TO_NEXT_PAINT');\n    const fClsRaw = field['CUMULATIVE_LAYOUT_SHIFT_SCORE'];\n    const fCls = fClsRaw && Number.isFinite(Number(fClsRaw.percentile)) ? Number(fClsRaw.percentile) / 100 : null;\n    cwv = {\n      lcp: fLcp != null ? fLcp : lcpMs,\n      cls: fCls != null ? fCls : cls,\n      inp: fInp != null ? fInp : inpMs,\n      score: score,\n      source: (fLcp != null || fInp != null) ? 'field' : 'lab',\n    };\n    cwvOk = (cwv.lcp != null || cwv.cls != null || cwv.inp != null || cwv.score != null);\n    if (!cwvOk) { reason = 'psi_no_metrics'; }\n    else {\n      const bad = [];\n      if (cwv.lcp != null && cwv.lcp > 2500) bad.push('LCP ' + Math.round(cwv.lcp) + 'ms (>2.5s)');\n      if (cwv.cls != null && cwv.cls > 0.1) bad.push('CLS ' + (Math.round(cwv.cls * 1000) / 1000) + ' (>0.1)');\n      if (cwv.inp != null && cwv.inp > 200) bad.push('INP ' + Math.round(cwv.inp) + 'ms (>200ms)');\n      if (cwv.score != null && cwv.score < 0.5) bad.push('perf score ' + Math.round(cwv.score * 100) + '/100 (<50)');\n      if (bad.length) {\n        issues.push({ issue_class: 'perf', severity: cwv.score != null && cwv.score < 0.3 ? 'high' : 'medium',\n          detail: 'Core Web Vitals below target: ' + bad.join('; '), url: c.__target || null,\n          evidence: { cwv: cwv, failed: bad } });\n      }\n    }\n  }\n  out.push({ json: Object.assign({}, c, {\n    __onpage_ok: c.__onpage_ok, __onpage_reason: c.__onpage_reason, __onpage_issues: c.__onpage_issues,\n    __cwv_ok: cwvOk, __cwv_reason: reason, __cwv: cwv, __cwv_issues: issues,\n  }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "assemble-issues",
      "name": "Assemble Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -80
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function hash(s) { let h = 5381; for (let i = 0; i < s.length; i++) { h = ((h << 5) + h + s.charCodeAt(i)) >>> 0; } return h; }\nfunction fid(cls, key) { return 'TECH-' + cls + '-' + String(hash(cls + '|' + (key || '')) % 1000).padStart(3, '0'); }\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json || {};\n  const onpage = Array.isArray(j.__onpage_issues) ? j.__onpage_issues : [];\n  const perf = Array.isArray(j.__cwv_issues) ? j.__cwv_issues : [];\n  const raw = onpage.concat(perf).map((iss) => Object.assign({}, iss, {\n    finding_id: fid(iss.issue_class, (iss.url || '') + '|' + (iss.evidence && iss.evidence.check ? iss.evidence.check : iss.detail)),\n  }));\n  const factsOk = j.__onpage_ok === true || j.__cwv_ok === true;\n  const reasons = [];\n  if (j.__onpage_reason) reasons.push('onpage:' + j.__onpage_reason);\n  if (j.__cwv_reason) reasons.push('cwv:' + j.__cwv_reason);\n  out.push({ json: Object.assign({}, j, {\n    __facts_ok: factsOk,\n    __facts_reason: reasons.length ? reasons.join(' ') : null,\n    __issues: raw,\n  }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "synthesize",
      "name": "Synthesize?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "synthesize-cond",
              "leftValue": "={{ $json.__facts_ok === true && (($vars.TECH_AUDIT_SYNTH_WORKFLOW_ID || \"\") || \"\") !== \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "synthesize",
      "name": "Synthesize",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2420,
        -160
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.TECH_AUDIT_SYNTH_WORKFLOW_ID || \"\" }}",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "attach-findings",
      "name": "Attach Findings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -160
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const ctx = $('Assemble Issues').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const c = (ctx[i] || ctx[0] || { json: {} }).json;\n  let p = items[i].json || {};\n  if (p.body && typeof p.body === 'object') p = p.body; // envelope tolerance\n  const synth = (p && typeof p === 'object' && p.findings && typeof p.findings === 'object') ? p.findings : {};\n  const issues = (Array.isArray(c.__issues) ? c.__issues : []).map((f) => {\n    const cand = synth[f.finding_id];\n    const detail = (typeof cand === 'string' && cand.trim()) ? cand.trim().slice(0, 600) : f.detail;\n    return Object.assign({}, f, { detail: detail });\n  });\n  out.push({ json: Object.assign({}, c, { __issues: issues }) });\n}\nreturn out;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "skip-synthesis",
      "name": "Skip Synthesis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        40
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return $input.all().map((it) => ({ json: it.json }));"
      }
    },
    {
      "id": "write-findings",
      "name": "Write Findings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2860,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OPERAND_SUPABASE_URL }}/rest/v1/tmpl_seo_technical_findings?on_conflict=tenant,finding_id,run_date",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(($json.__issues || []).map((f) => ({ tenant: $json.__tenant, url: f.url || $json.__target, finding_id: f.finding_id, issue_class: f.issue_class, severity: f.severity, detail: f.detail, evidence: f.evidence, cwv: (f.issue_class === \"perf\" ? $json.__cwv : null), status: \"open\", run_date: $json.__run_date }))) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-ref:supabase-operand",
          "name": "[OPERAND] Supabase apikey"
        }
      }
    },
    {
      "id": "sign-notify",
      "name": "Sign Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -80
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst readSecret = (k) => {\n  let v = null;\n  try { v = $env[k]; } catch (e) {}\n  if (v === null || v === undefined || v === '') {\n    try { v = typeof $vars !== 'undefined' ? $vars[k] : null; } catch (e) {}\n  }\n  return (v === null || v === undefined) ? '' : String(v);\n};\nconst SECRET = readSecret(\"N8N_WEBHOOK_SECRET\");\nconst RANK = { critical: 5, high: 4, medium: 3, low: 2, info: 1 };\nconst items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json || {};\n  const issues = Array.isArray(j.__issues) ? j.__issues : [];\n  const cwv = j.__cwv || null;\n  const factsOk = j.__facts_ok === true;\n  let message;\n  if (!factsOk) {\n    const why = j.__facts_reason ? (' (' + j.__facts_reason + ')') : '';\n    message = '🔍 Technical audit — no crawl or CWV data could be read this run' + why +\n      '. No issues are shown because no facts were returned.';\n  } else {\n    const bySev = {};\n    for (const f of issues) { bySev[f.severity] = (bySev[f.severity] || 0) + 1; }\n    const sevLine = ['critical', 'high', 'medium', 'low'].map((s) => (bySev[s] ? bySev[s] + ' ' + s : null)).filter(Boolean).join(', ') || 'no issues';\n    const top = issues.slice().sort((a, b) => (RANK[b.severity] || 0) - (RANK[a.severity] || 0))[0];\n    const cwvLine = cwv ? (' CWV: LCP ' + (cwv.lcp != null ? Math.round(cwv.lcp) + 'ms' : 'n/a') + ', CLS ' + (cwv.cls != null ? cwv.cls : 'n/a') + ', INP ' + (cwv.inp != null ? Math.round(cwv.inp) + 'ms' : 'n/a') + ', score ' + (cwv.score != null ? Math.round(cwv.score * 100) : 'n/a') + '.') : '';\n    const fix = top ? (' Top fix: ' + String(top.detail).slice(0, 260)) : '';\n    message = '🔍 Technical audit — ' + issues.length + ' finding(s) (' + sevLine + ').' + cwvLine + fix;\n  }\n  const payload = {\n    message: String(message).slice(0, 3500),\n    kind: 'technical_audit',\n    tenant: j.__tenant || null,\n    url: j.__target || null,\n    run_date: j.__run_date || null,\n    facts_ok: factsOk,\n    issue_count: issues.length,\n  };\n  const ts = String(Date.now());\n  out.push({ json: Object.assign({}, j, {\n    __notify_payload: payload,\n    __notify_ts: ts,\n    __notify_sig: SECRET ? crypto.createHmac('sha256', SECRET).update(ts + '.' + JSON.stringify(payload)).digest('hex') : '',\n  }) });\n}\nreturn out;"
      }
    },
    {
      "id": "notify-report",
      "name": "Notify Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3300,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.STUDIO_NOTIFY_FANOUT_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-signature",
              "value": "={{ $json.__notify_sig }}"
            },
            {
              "name": "x-n8n-timestamp",
              "value": "={{ $json.__notify_ts }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.__notify_payload) }}"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    }
  ],
  "connections": {
    "Every Week": {
      "main": [
        [
          {
            "node": "Confirm Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Config": {
      "main": [
        [
          {
            "node": "Spend Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend Read": {
      "main": [
        [
          {
            "node": "Spend Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend Gate": {
      "main": [
        [
          {
            "node": "Crawl?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl?": {
      "main": [
        [
          {
            "node": "DataForSEO On-Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO On-Page": {
      "main": [
        [
          {
            "node": "Extract On-Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Crawl": {
      "main": [
        [
          {
            "node": "Extract On-Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract On-Page": {
      "main": [
        [
          {
            "node": "Meter Spend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meter Spend": {
      "main": [
        [
          {
            "node": "Real Spend?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real Spend?": {
      "main": [
        [
          {
            "node": "Spend Increment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PageSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend Increment": {
      "main": [
        [
          {
            "node": "PageSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed": {
      "main": [
        [
          {
            "node": "Extract CWV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CWV": {
      "main": [
        [
          {
            "node": "Assemble Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Issues": {
      "main": [
        [
          {
            "node": "Synthesize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesize?": {
      "main": [
        [
          {
            "node": "Synthesize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesize": {
      "main": [
        [
          {
            "node": "Attach Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Findings": {
      "main": [
        [
          {
            "node": "Write Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Synthesis": {
      "main": [
        [
          {
            "node": "Write Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Findings": {
      "main": [
        [
          {
            "node": "Sign Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Notify": {
      "main": [
        [
          {
            "node": "Notify Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "active": false
}
